*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
  --mainColor:#33186B;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  color:var(--mainColor);
  font-weight: lighter;
}
h1{
  color:var(--mainColor);
  text-align: center;
  text-transform:capitalize;
  font-weight: lighter;
  margin-block: 20px;
}
.container{
  width:min(900px,100%);
  margin: 0 auto;
}
/* index view */
.parent{
  display:flex;
  align-items: center;
  gap:10px;
  flex-wrap:wrap
}
.parent .product{
  width:150px;
  min-height: 215px;
  border:2px solid var(--mainColor);
  padding:10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.parent .product .content{
  display: block;
  margin-left:10px;
  color:var(--mainColor);
  font-weight: bold;

}
.links{
  display:flex;
  justify-content: space-between;
  border:0px solid green;
  margin-top: auto;
}
.links button{
  color:red;
  background-color: transparent;
  outline:0;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
}
/*welcome view*/
.mainDiv{
  position: absolute;
  inset:30%;
  border:0px solid green;
}
.mainDiv img{
  width:100%;
}

.mainDiv nav ul{
display: flex;
justify-content: space-between;
align-items: center;
list-style-type: none;
}


/*create view*/
.labelnput{
  margin-block: 10px;
  width:100%;
  display: flex;
  flex-direction: column;
}
.labelnput input{
  width:200px;
  color:var(--mainColor);
  padding:5px
}
.labelnput label{
  margin-block: 5px;
  text-transform: capitalize;
}
.labelnput:has(input[type="submit"]){
justify-content: flex-end;
}
input[type="submit"]{
background-color: var(--mainColor);
color:wheat;
  border:0px;
  padding:5px;
  width:100px;
}